.DS_Store
.env
.env.*
!.env.example
.ht*
/wp-*.php
xmlrpc.php
node_modules/
wp-admin/
wp-includes/
wp-content/index.php
wp-content/plugins/
wp-content/uploads/
wp-content/themes/index.php
wp-content/themes/twenty*
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/themes/sage-8.5.3/
sitemap.xml
sitemap.xml.gz
readme.html
license.txt
/index.php
.idea/
r.php
cgi-bin