@import "common/functions";
@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
// endbower

#instafeed {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background: #000;
	z-index: 0;
	.image {
		background-size: cover;
		background-position: center center;
		width: 25%;
		height: 25vw;
		float: left;
	}
}

section.main {
	position: relative;
	z-index: 1;
	> .row {
		@extend .align-items-center;
		min-height: 100vh;
		> .container {
			form {
				background: rgba(255,255,255,0.9);
				padding: 50px;
				border-radius: 8px;
			}
		}
	}
}