// Gravity Forms Colors
//------------------------------------------------------------------------------
$gravity-black:      $black !default;
$gravity-off-black:  $gray-900 !default;
$gravity-gray:       $gray-600 !default;
$gravity-light-gray: $gray-500 !default;
$gravity-light-fog:  $gray-100 !default;
$gravity-medium-fog: $gray-200 !default;
$gravity-fog:        $gray-400 !default;
$gravity-white:      $white !default;

$gravity-blue:       $blue !default;
$gravity-yellow:     $yellow !default;
$gravity-green:      $green !default;
$gravity-orange:     $orange !default;
$gravity-red:        $red !default;
